:root{
    --blue: #1e90ff;
    --yellow:rgb(255, 196, 0);
    --orange:rgb(255, 60, 0);
    --byellow:rgb(255, 230, 0);
    --borange:rgb(255, 145, 0);
    --greyish:rgb(218, 133, 100);
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .audio{
    width: 40px;
    height: 40px;
    position: absolute;
    top:20px;
    left:20px;
    background-color: #6e12d8;
    display: flex;
    align-items: center;
    justify-content:center;
  }


  .home{
    width: 40px;
    height: 40px;
    left:80px;
  }

  .ship {
    position: absolute;
    width: 150px;
    height: 58px;
    bottom: 50px;
    left: 50px;
    background-image: url("./assets/ship.png");
    background-size: cover;
  
  }
  
  /* .block{
    box-shadow:0 0 20px var(--blue);
  } */
  
  .block{
    border-radius: 5px;
  }
  
  .trans{
    box-shadow:none;
    z-index:-1;
  }

  body {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  
  .container {  
      width: 60vw;
      height: 100vh;
      background-image: url("./assets/space.webp");
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
    }
  
  .leftCol,.rightCol{
    position:absolute;
    top:0;
    left:0;
    width:20vw;
    height:100vh;
    border-right:4px solid #1e90ff;
    background-image: url("assets/rain2.gif");
    background-size: cover;
  
  }
  
  .rightCol {
    left: 80vw;
    border-left: 4px solid #1e90ff;
    border-right: none;
    display: flex;
    justify-content: center;
  
  }
  .rightCol > h1 {
    color:blue;
    font-family: "Luckiest guy", cursive;
    margin-top: 20px;
    text-shadow: 0 0 5px blue;
  }
  
  .score {
    /* color:#000; */
    color: blue;
    font-family: "Luckiest guy", cursive;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
  }
  
  .ball {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(160, 160, 160);
    box-shadow:0 0 10px  rgb(255,255,255);
  }

  .fish {
    width:35vw;
    min-width: 600px;
    height: 30vw;
    min-height: 600px;
    display: grid;
    gap:5px;
    grid-template-columns: repeat(1fr,20);
    grid-template-rows: repeat(1fr,20);
    margin-left:auto;
    margin-right:auto;
  }
  
  #fa{
    grid-column: 11/12;
    grid-row: 5/6;
    background-color: #0B156A;
    box-shadow:0 0 10px #0B156A;
  }
  /*  */
  #fb{
    grid-column: 9/12;
    grid-row: 6/7;
    background-color: #0B156A;
    box-shadow:0 0 10px  #0B156A;
  }
  /*  */
  #fc{
    grid-column: 6/8;
    grid-row: 7/8;
    background-color: #DBD7D7;
    box-shadow:0 0 10px  #DBD7D7;
  }
  
  #fd{
    grid-column: 8/13;
    grid-row: 7/8;
    background-color: #0B156A;
    box-shadow:0 0 10px  #0B156A;
  }
  /*  */
  #fe{
    grid-column: 6/7;
    grid-row: 8/9;
    background-color: #000000;
    box-shadow:0 0 10px  #000000;
  }
  #ff{
    grid-column: 7/8;
    grid-row: 8/9;
    background-color: #DBD7D7;
    box-shadow:0 0 10px  #DBD7D7;
  }
  #fg{
    grid-column: 8/14;
    grid-row: 8/9;
    background-color: #0B156A;
    box-shadow:0 0 10px  #0B156A;
  }
  /*  */
  #fh{
    grid-column: 5/7;
    grid-row: 9/10;
    background-color: #0B156A;
    box-shadow:0 0 10px  #0B156A;
  }
  #fi{
    grid-column: 7/8;
    grid-row: 9/10;
    background-color: rgb(255, 145, 0);
    box-shadow:0 0 10px  rgb(255, 145, 0);
  }
  #fj{
    grid-column: 8/11;
    grid-row: 9/10;
    background-color: #0B156A;
    box-shadow:0 0 10px  #0B156A;
  }
  #fk{
    grid-column: 11/12;
    grid-row: 9/10;
    background-color: #FF8300;
    box-shadow:0 0 10px  #FF8300;
  }
  #fl{
    grid-column: 12/13;
    grid-row: 9/10;
    background-color: #0B156A;
    box-shadow:0 0 10px  #0B156A;
  }
  /*  */
  #fm{
    grid-column: 13/17;
    grid-row: 9/10;
    background-color: #FF8300;
    box-shadow:0 0 10px  #FF8300;
  }
  /*  */
  #fn{
    grid-column: 5/7;
    grid-row: 10/11;
    background-color: #0965BA;
    box-shadow:0 0 10px  #0965BA;
  }
  #fo{
    grid-column: 7/8;
    grid-row: 10/11;
    background-color:  #FF8300;
    box-shadow:0 0 10px  #FF8300;
  }
  /*  */
  #fp{
    grid-column: 8/9;
    grid-row: 10/11;
    background-color: #0B156A;
    box-shadow:0 0 10px  #0B156A;
  }
  #fq{
    grid-column: 9/10;
    grid-row: 10/11;
    background-color:  #0965BA;
    box-shadow:0 0 10px  #0965BA;
  }
  /*  */
  #fr{
    grid-column: 10/12;
    grid-row: 10/11;
    background-color:  #FF8300;
    box-shadow:0 0 10px  #FF8300;
  }
  #fa1{
    grid-column: 12/13;
    grid-row: 10/11;
    background-color:#0965BA;
    box-shadow:0 0 10px  #0965BA;


  }
  #fs{
    grid-column: 13/17;
    grid-row: 10/11;
    background-color:   #FF8300;
    box-shadow:0 0 10px  #FF8300;

  }
  /*  */
  #ft{
    grid-column: 6/11;
    grid-row: 11/12;
    background-color:  #0965BA;
    box-shadow:0 0 10px  #0965BA;

  }
  #fu{
    grid-column: 11/12;
    grid-row: 11/12;
    background-color:  #FF8300;
    box-shadow:0 0 10px  #FF8300;

  }
  /*  */
  #fv{
    grid-column: 12/14;
    grid-row: 11/12;
    background-color: #0965BA;
    box-shadow:0 0 10px  #0965BA;

  }
  /*  */
  
  #fw{
    grid-column: 7/13;
    grid-row: 12/13;
    background-color:  #0965BA;
    box-shadow:0 0 10px  #0965BA;

  }
  /*  */
  
  #fx{
    grid-column: 8/12;
    grid-row: 13/14;
    background-color:  #0965BA;
    box-shadow:0 0 10px  #0965BA;

  }
  /*  */
  
  #fy{
    grid-column: 10/12;
    grid-row: 14/15;
    background-color:  #0965BA;
    background-color:  #0965BA;
    
  }
  /*  */
  
  #fz{
    grid-column: 11/12;
    grid-row: 15/16;
    background-color:  #0965BA;
    box-shadow:0 0 10px  #0965BA;

  }
  
  /*  */
  
  #fa2{
    grid-column: 19/20;
    grid-row: 19/20;
    background-color: transparent;
  }